Repository dahlia-jazzes0/study-hospital: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

join-page input 필수 입력란 검사로직 구현
  src/Hooks/use-validation.jsx
  src/pages/join-page.jsx
  src/pages/join-page.module.css
Due: prettier, eslint

login-page 비밀번호 입력창 padding 조정
  src/pages/login-page.module.css
Due: prettier

chore: react-router-dom 패키지 삭제
  package-lock.json
  package.json
Due: prettier

chore: 삭제 코드 복구 (joinpage)
  src/app/app-view.jsx
Due: prettier, eslint

feat: header, navigation 구현 (#8)
  public/images/ico-sns-in.png
  public/images/ico-sns-nb.png
  public/images/logo-footer.png
  public/images/logo.png
  public/images/membership-icon.png
  public/logo.png
  public/pwd-eye-1.png
  public/pwd-eye-2.png
  src/shared/styles/base.css
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
  src/shared/ui/navigation-view.jsx
  src/shared/ui/navigation-view.module.css
Due: prettier, eslint

refactor: 사업자 정보 태그 구조 개선
  src/shared/ui/footer-view.jsx
  src/shared/ui/footer-view.module.css
Due: prettier, eslint

feat: footer 구현 (#12)
  src/app/layout.jsx
  src/shared/ui/footer-view.jsx
  src/shared/ui/footer-view.module.css
Due: prettier, eslint

base.css 및 reset.css import부분 제거
  src/pages/appointment/appointment-page.jsx
Due: prettier, eslint

feat(images): 이미지 추가
  public/images/alarm-clock.png
  public/images/arrow-next.png
  public/images/arrow-prev.png
  public/images/arrow-top.png
  public/images/ico-sns-in.png
  public/images/ico-sns-nb.png
  public/images/icon-logo.png
  public/images/icon-medicine.png
  public/images/icon-together.png
  public/images/icon-tuna.png
  public/images/logo-footer.png
  public/images/logo-footer.svg
  public/images/logo.png
  public/images/logo.svg
  public/images/map-pin.png
  public/images/membership-icon.png
  public/images/membership-icon.svg
  public/images/message-square-text.png
  public/images/monitor.png
  public/images/phone-call.png
  public/images/temp-slide-img.png
  public/images/time-icon 1.png
Due: none

의료진 소개페이지 구현 (#14)
  public/images/arrow.png
  public/images/doctor-1.png
  public/images/doctor-2.png
  public/images/doctor-3.png
  public/images/doctor-4.png
  public/images/doctor-5.png
  public/images/doctor-6.png
  public/images/doctor-7.png
  src/app/app-view.jsx
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
  src/pages/doctors/doctors-page.jsx
Due: prettier, eslint

Feat/appointment-page JSX markup & CSS (#11)
  package-lock.json
  package.json
  src/app/app-view.jsx
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

review-page css전역스타일 제거, router-dom 삭제
  package-lock.json
  package.json
Due: prettier

fix: 전역 스타일 제거 및 rem 단위 → px 단위로 변경
  src/pages/doctors/doctor-card.module.css
Due: prettier

doctorList fetch & skeleton UI 작업 및 config.js 추가
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/pages/appointment/config.js
Due: prettier, eslint

appointment-page component 분리
  src/pages/appointment/appointment-calendar.jsx
  src/pages/appointment/appointment-doctor-list.jsx
  src/pages/appointment/appointment-dortor-card.jsx
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-skeleton-card.jsx
  src/pages/appointment/appointment-timetable.jsx
  src/pages/appointment/use-doctors.js
Due: prettier, eslint

appointment-description JSX 및 CSS 작업
  src/pages/appointment/appointment-calendar.jsx
  src/pages/appointment/appointment-description.jsx
  src/pages/appointment/appointment-page.module.css
  src/pages/doctors/doctor-card.module.css
Due: prettier, eslint

GetTimeTable함수 추가
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/pages/appointment/use-appointment.js
Due: prettier, eslint

chore: Lucide 아이콘 추가
  package-lock.json
  package.json
Due: prettier

fix: 전역 스타일 제거 및 rem 단위 → px 단위로 변경 (#15)
  src/pages/doctors/doctor-card.module.css
Due: prettier

review-page css 전역스타일 제거
  src/pages/review/review-page.module.css
Due: prettier

review-page review-data.js 추가, review-list.jsx 추가, 연결완료
  src/pages/review/review-data.js
  src/pages/review/review-list.jsx
  src/pages/review/review-page.jsx
Due: prettier, eslint

chore: lucide-react 설치
  package-lock.json
  package.json
Due: prettier

feat: 예약하기 버튼 기능 추가
  src/pages/doctors/doctor-detail.jsx
Due: prettier, eslint

review-page error 불필요한 코드 제거
  src/pages/review/review-data.js
  src/pages/review/review-list.jsx
  src/pages/review/review-page.jsx
  src/pages/review/review-pagination.jsx
Due: prettier, eslint

appointment-page 전체적인 수정 및 예약 기능 추가(테스트 token .ver)
  src/pages/appointment/appointment-calendar.jsx
  src/pages/appointment/appointment-description.jsx
  src/pages/appointment/appointment-doctor-card.jsx
  src/pages/appointment/appointment-doctor-list.jsx
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-timetable.jsx
  src/pages/appointment/use-appointment.js
  src/pages/appointment/util.js
Due: prettier, eslint

컴포넌트 훅 파일 위치 이동
  src/pages/join-page/hooks/use-validation.jsx
  src/pages/join-page/join-page.jsx
  src/pages/join-page/join-page.module.css
Due: prettier, eslint

이메일 필드 입력 및 선택 기능 수정
  src/app/app-view.jsx
  src/pages/join-page/hooks/use-validation.jsx
  src/pages/join-page/join-page.jsx
Due: prettier, eslint

컴포넌트 훅 중복된 코드 제거
  src/pages/join-page/hooks/use-validation.jsx
Due: prettier, eslint

step2 table 태그 form 태그로 변경
  src/app/app-view.jsx
  src/pages/join/components/fields/address-field.jsx
  src/pages/join/components/fields/checkbox-field.jsx
  src/pages/join/components/fields/email-field.jsx
  src/pages/join/components/fields/input-field.jsx
  src/pages/join/components/fields/radio-field.jsx
  src/pages/join/components/join-success-step.jsx
  src/pages/join/components/terms-step.jsx
  src/pages/join/components/user-info-step.jsx
  src/pages/join/constants/options.jsx
  src/pages/join/hooks/use-validation.jsx
  src/pages/join/join-page.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

커스텀 훅 파일 이름 변경
  src/pages/join/hooks/use-form.jsx
  src/pages/join/join-page.jsx
Due: prettier, eslint

회원가입 페이지 clamp값 제거 및 step2 css 제거
  src/pages/join/join-page.module.css
Due: prettier

step2 회원가입 폼 css 수정
  src/pages/join/components/fields/address-field.jsx
  src/pages/join/components/fields/email-field.jsx
  src/pages/join/components/fields/input-field.jsx
  src/pages/join/components/fields/radio-field.jsx
  src/pages/join/components/user-info-step.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

화면 최대 너비 1466에서 1300으로 조정
  src/pages/join/join-page.module.css
Due: prettier

회원가입 step2 flex, grid 갭 조정
  src/pages/join/components/fields/address-field.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

주소 창 errormsg 위치 조정
  src/pages/join/components/fields/address-field.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

step1 전체 너비 조정
  src/pages/join/join-page.module.css
Due: prettier

placeholder 글씨 색 변경
  src/pages/join/join-page.module.css
Due: prettier

step2 필수 항목 에러메시지 수정
  src/pages/join/components/fields/radio-field.jsx
  src/pages/join/components/user-info-step.jsx
  src/pages/join/hooks/use-form.jsx
  src/pages/join/join-page.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

주소 마진값 조정
  src/pages/join/components/fields/email-field.jsx
  src/pages/join/components/user-info-step.jsx
  src/pages/join/join-page.module.css
Due: prettier, eslint

가입경로 필수 항목 제거
  src/pages/join/components/user-info-step.jsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,json,css,md,yml,yaml}
  eslint: any of: *.{js,jsx}
