Repository dahlia-jazzes0/study-hospital: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

fix: 잘못된 SVG 속성 수정 (#23)
  src/shared/ui/logo/logo-view.jsx
Due: prettier, eslint

Feat/hero-section (#25)
  public/images/temp-slide-img.png
  src/pages/home-page.jsx
  src/pages/main/hero-section.jsx
  src/pages/main/hero-section.module.css
Due: prettier, eslint

sr-only util 추가
  src/main.jsx
  src/shared/styles/utils.css
Due: prettier, eslint

로그인 api호출
  src/pages/login/login-page.jsx
  src/pages/login/login-page.module.css
Due: prettier, eslint

fix: sr-only를 사용하도록 수정
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
  src/pages/join/components/join-success-step.jsx
  src/pages/join/components/terms-step.jsx
  src/pages/join/join-page.jsx
  src/pages/join/join-page.module.css
  src/pages/login/login-page.jsx
  src/pages/login/login-page.module.css
  src/pages/main/hero-section.jsx
  src/pages/main/hero-section.module.css
  src/shared/ui/footer-view.jsx
  src/shared/ui/footer-view.module.css
Due: prettier, eslint

feat: sr-only 유틸 추가 (#27)
  src/main.jsx
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
  src/pages/join/components/join-success-step.jsx
  src/pages/join/components/terms-step.jsx
  src/pages/join/join-page.jsx
  src/pages/join/join-page.module.css
  src/pages/login/login-page.jsx
  src/pages/login/login-page.module.css
  src/pages/main/hero-section.jsx
  src/pages/main/hero-section.module.css
  src/shared/styles/utils.css
  src/shared/ui/footer-view.jsx
  src/shared/ui/footer-view.module.css
Due: prettier, eslint

토큰 상태관리 구현
  src/contexts/auth-context.jsx
  src/contexts/auth-provider.jsx
  src/main.jsx
  src/pages/login/hooks/use-auth.jsx
  src/pages/login/login-page.jsx
Due: prettier, eslint

아이디 저장 기능 구현
  src/pages/login/login-page.jsx
Due: prettier, eslint

fix: 의료진 소개 페이지 컴포넌트 분할 & isOpen 구조 변경
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-list.jsx
  src/pages/doctors/doctors-page.jsx
Due: prettier, eslint

fix: srOnly 클래스 제거
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
Due: prettier, eslint

로그인 훅 파일 제거
  src/pages/login/hooks/use-auth.jsx
Due: prettier, eslint

auth 파일 이동
  src/shared/auth/auth-context.jsx
  src/shared/auth/auth-provider.jsx
Due: prettier, eslint

goHome > navigate으로 변경
  src/pages/login/login-page.jsx
Due: prettier, eslint

header 수정
  src/pages/appointment/_hooks/use-appointment.js
Due: prettier, eslint

useRef사용 및 effect 제거
  src/main.jsx
  src/pages/login/login-page.jsx
  src/shared/auth/auth-provider.jsx
Due: prettier, eslint

자동 갱신 로직 제거
  src/shared/auth/auth-provider.jsx
Due: prettier, eslint

fix: 화살표 아이콘 -> lucide-react로 변경
  public/images/arrow.png
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
Due: prettier, eslint

fix: 의료진 소개 카드 수정 (#24)
  public/images/arrow.png
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-list.jsx
  src/pages/doctors/doctors-page.jsx
Due: prettier, eslint

enter 클릭시 로그인
  src/pages/login/login-page.jsx
Due: prettier, eslint

feat: 메인페이지 review-section 구현
  src/pages/home-page.jsx
  src/pages/main/components/review-card.jsx
  src/pages/main/components/review-card.module.css
  src/pages/main/review-section.jsx
  src/pages/main/review-section.module.css
Due: prettier, eslint

style: 캐러셀 슬라이드 애니메이션 추가
  src/pages/main/review-section.module.css
Due: prettier

npm run format 실행
  .prettierrc
Due: none

feat: counter-section 구현
  src/pages/home-page.jsx
  src/pages/main/counter-section.jsx
  src/pages/main/counter-section.module.css
Due: prettier, eslint

fix: header 로고 컴포넌트 적용, 멤버쉽 아이콘 Lucide로 변경
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
Due: prettier, eslint

style: quick-menu 투명도 적용
  src/shared/ui/quick-menu.module.css
Due: prettier

style: header, 로고 크기 수정
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
Due: prettier, eslint

feat: counter-section 구현 (#31)
  src/pages/home-page.jsx
  src/pages/main/counter-section.jsx
  src/pages/main/counter-section.module.css
Due: prettier, eslint

style: quick-menu 투명도 적용 (#32)
  src/shared/ui/quick-menu.module.css
Due: prettier

fix: review-card css오타 수정
  src/pages/main/components/review-card.module.css
Due: prettier

feat: 리뷰 카드 구조 개선, 썸네일 API 연동
  src/pages/main/components/review-card.jsx
Due: prettier, eslint

fix: review-card css class명 오타 수정
  src/pages/main/components/review-card.module.css
Due: prettier

feat: review-section 구조 개선, API연동
  src/pages/main/review-section.jsx
Due: prettier, eslint

chore: 불필요한 css제거
  src/pages/main/review-section.module.css
Due: prettier

fix: 768px 이하에서 깨지는 현상 해결
  src/shared/ui/header-view.module.css
Due: prettier

fix: 페이지 축소시 로고와 네비게이션 겹침 현상 해결
  src/shared/ui/header-view.module.css
Due: prettier

form 태그 추가
  src/pages/login/login-page.jsx
  src/pages/login/login-page.module.css
Due: prettier, eslint

절대경로로 사용
  src/pages/login/login-page.jsx
Due: prettier, eslint

lucide-react 사용 및 eye관련 이미지 삭제
  public/images/eye-off.png
  public/images/eye.png
  src/pages/login/login-page.jsx
  src/pages/login/login-page.module.css
Due: prettier, eslint

Fix/header logo이미지 컴포넌트, 멤버쉽 아이콘 Lucide 변경 (#33)
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,json,css,md,yml,yaml}
  eslint: any of: *.{js,jsx}
